* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #eee4e1;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

nav {
    color: #463f3a;
    font-family: 'Dancing Script';
    text-align: center;
    padding: 20px;
}

nav a {
    color: black;
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    color: #723d46;
}

footer {
    color: #463f3a;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

.card1 {
    display: flex;
    background-color: #e7d8c9;
}

.l {
    width: 30%;
}

.r {
    width: 70%;
    margin-top: 60px;
}

.personal {
    font-size: 30px;
    color: #463f3a;
    font-family: 標楷體;
}

.about {
    font-size: 15px;
    color: #463f3a;
    font-family: Arial;
}

.myphoto {
    width: 150px;
    height: 200px;
    margin-left: 30px;
}

.name {
    font-size: 20px;
    font-family: 標楷體;
}

.birthday {
    font-size: 20px;
    font-family: Arial;
    margin-top: 20px;
}

.school {
    font-size: 20px;
    font-family: Arial;
    margin-top: 20px;
}

.slogan {
    font-size: 20px;
    font-family: 標楷體;
    margin-top: 20px;
}

.card2 {
    background-color: #D9D4CF;
}